node_modules

# Vendored binaries
/bin/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local database
*.db

draft.md
draft-*.md
.local.db*
.local-uploads/**
import-conflicts.json
